{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block title %}{{ title }}{% endblock %}</title>
  <!-- CSS FILES -->
  <link rel="preconnect" href="https://fonts.googleapis.com">

  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap" rel="stylesheet">

  <link rel="icon" href="{% static 'svg/accu-mart-logo.jpg' %}" type="image/jpg+xml">

  <!-- fontawesome link -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-icons.css' %}">
  <link rel="stylesheet" href="{% static 'css/slick.css' %}" />
  <link rel="stylesheet" href="{% static 'css/customstyle.css' %}" />
  <link rel="stylesheet" href="{% static 'css/tooplate-little-fashion.css' %}">

</head>

<body>


  <section class="sign-in-form section-padding topSpace">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto col-12 reset-password">

          <h3 class="hero-title text-center greenText">Set New Password</h3>
          {% if messages %}
          {% for message in messages %}
          <p class="text-danger text-center">{{message}}</p>
          {% endfor %}
          {% endif %}
          <div class="row">
            <div class="col-lg-8 col-11 mx-auto">
              <form role="form" method="post">
                {% csrf_token %}

                <span class="helptext"></span>

                <div class="mb-3">
                  <label for="id_new_password1" class="form-label">New Password</label>
                  <input type="password" name="new_password1" id="id_new_password1" class="form-control" required>
                  {% if form.new_password1.errors %}
                    <div class="text-danger">
                      {% for error in form.new_password1.errors %}
                        <small>{{ error }}</small><br>
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
                
                <div class="mb-3">
                  <label for="id_new_password2" class="form-label">Confirm New Password</label>
                  <input type="password" name="new_password2" id="id_new_password2" class="form-control" required>
                  {% if form.new_password2.errors %}
                    <div class="text-danger">
                      {% for error in form.new_password2.errors %}
                        <small>{{ error }}</small><br>
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
                <button type="submit" class="btn greenBtn form-control mt-4 mb-3">
                  Set Password
                </button>


              </form>
            </div>
          </div>

        </div>

      </div>
    </div>
  </section>
  <!-- JAVASCRIPT FILES -->
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/Headroom.js' %}"></script>
  <script src="{% static 'js/jQuery.headroom.js' %}"></script>
  <script src="{% static 'js/slick.min.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>
</body>

</html>