{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block title %}{{ title }}{% endblock %}</title>
  <!-- CSS FILES -->
  <link rel="preconnect" href="https://fonts.googleapis.com">

  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap" rel="stylesheet">

  <link rel="icon" href="{% static 'svg/accu-mart-logo.jpg' %}" type="image/jpg+xml">

  <!-- fontawesome link -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-icons.css' %}">
  <link rel="stylesheet" href="{% static 'css/slick.css' %}" />
  <link rel="stylesheet" href="{% static 'css/customstyle.css' %}" />
  <link rel="stylesheet" href="{% static 'css/tooplate-little-fashion.css' %}">

</head>
<body>

    <!-- <div class="container mt-5 text-center">
        <h3>Password Reset Email Sent</h3>
        <p>If the email address exists, a reset link has been sent. Check your inbox.</p>
        <a href="{% url 'user_login' %}" class="btn btn-primary mt-3">Back to Login</a>
      </div> -->

    <section class="sign-in-form section-padding topSpace">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto col-12 reset-password">

                    <h3 class="hero-title text-center greenText">Password Reset Email Sent</h3>
                    {% if messages %}
                    {% for message in messages %}
                    <p class="text-danger text-center">{{message}}</p>
                    {% endfor %}
                    {% endif %}
                    <div class="row">
                        <div class="col-lg-8 col-11 mx-auto">
                            <p>If the email address exists, a reset link has been sent. Check your inbox.</p>
                            <a href="{% url 'user_login' %}" class="btn greenBtn form-control mt-4 mb-3">
                                Back to Login
                            </a>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>
       <!-- JAVASCRIPT FILES -->
       <script src="{% static 'js/jquery.min.js' %}"></script>
       <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
       <script src="{% static 'js/Headroom.js' %}"></script>
       <script src="{% static 'js/jQuery.headroom.js' %}"></script>
       <script src="{% static 'js/slick.min.js' %}"></script>
       <script src="{% static 'js/custom.js' %}"></script>
</body>

</html>