
{% extends "core/base.html" %}

{% load static %}

{% block content %}

        <section class="section-padding topSpace">
            <div class="container">

                <div class="row">
                    
                    <div class="col-12">
                            <h2 class="page-innerhead">Disclaimer</h2>
                    </div>

                    <div class="col-12">
                        <p class="large-paragraph">
                            Welcome to www.accu-mart.com. By accessing or using our website, you agree to the terms and conditions outlined in this disclaimer. Please read the following information carefully before using our services.
                        </p>
                    </div>

                    <div class="col-12">
                        <h5 class="head-line">1. General Information</h5>
                        <p class="large-paragraph">The content provided on this website is for informational purposes only. While we strive to provide accurate and up-to-date information, we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability, or availability of the website or the information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.</p>
                    </div>

                    <div class="col-12">
                        <h5 class="head-line">2. Product Descriptions </h5>
                        <p class="large-paragraph">We make every effort to ensure that the product descriptions on our website are accurate and up-to-date. However, we do not warrant that the descriptions, colors, information, or other content available on the site are accurate, complete, reliable, current, or error-free. If a product offered by Accu-Mart is not as described, your sole remedy is to return it in unused condition.</p>
                    </div>

                    <div class="col-12">
                        <h5 class="head-line">3. Pricing and Availability</h5>
                        <p class="large-paragraph mb-1">
                            Prices and availability of products and services are subject to change without notice. We strive to provide accurate pricing information but cannot guarantee that prices will be accurate at all times. In the event of a pricing error, we reserve the right to cancel any orders placed for the product at the incorrect price.
                        </p>
                    </div>

                    <div class="col-12">
                        <h5 class="head-line">4. Limitation of Liability</h5>
                        <p class="large-paragraph">
                            In no event will Accu-Mart be liable for any loss or damage, including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of, or in connection with, the use of this website. This limitation of liability applies to any damages or injury caused by any failure of performance, error, omission, interruption, deletion, defect, delay in operation or transmission, computer virus, communication line failure, theft or destruction, or unauthorized access to, alteration of, or use of the website, whether for breach of contract, tortious behavior, negligence, or under any other cause of action.
                        </p>
                    </div>

                    <div class="col-12">
                        <h5 class="head-line">5. Website Disclaimer</h5>
                        <p class="large-paragraph">
                            The information provided by Accure Medical Pvt. Ltd. ("we," "us," or "our') on http://wvvw.accu-mart.com (the "Site") is for general informational purposes only. All information on the Site is provided in good faith; however, we make no representation or warranty of any kind, express or implied, regarding the accuracy, adequacy, validity, reliability, availability, or completeness of any information on the site. Under circumstance shall we have any liability to you for any loss or damage of any kind incurred as a result of the use of the site or our mobile application or reliance on any information provided on the site and our mobile application. Your use of the site and our mobile application and your reliance on any information on the site and our mobile application is solely at your own risk.
                        </p>
                    </div>

                    <div class="col-12">
                        <h5 class="head-line">6. Professional Disclaimer</h5>
                        <p class="large-paragraph">
                            The Site cannot and does not contain medical/health advice. The medical/health information is provided for general informational and educational purposes only and is not a substitute for professional advice. Accordingly, before taking any actions based upon such information, we encourage you to consult with the appropriate professionals. We do not provide any kind of medical/health advice. The use or reliance of any information contained on the site or our mobile application is solely at your own risk.
                        </p>
                    </div>

                    <div class="col-12">
                        <h5 class="head-line">7. Changes to This Disclaimer</h5>
                        <p class="large-paragraph">
                            We reserve the right to update or modify this disclaimer at any time without prior notice. Any changes will be effective immediately upon posting to the website. Your continued use of the website following the posting of any changes constitutes acceptance of those changes.
                        </p>
                    </div>

                    <div class="col-12">
                        <h5 class="head-line">8. Contact Us</h5>
                        <p class="large-paragraph">If you have any questions or concerns about this disclaimer, please contact us at info@accuremedical.in</p>
                    </div>

                    

                </div>

            </div>
        </section>
{% endblock %}