
{% extends "core/base.html" %}

{% load static %}

{% block content %}

<section class=" section-padding topSpace policy">
    <div class="container">

        <div class="row">
            
            <div class="col-12">
                    <h2 class="page-innerhead">Cancellation,
                        Returns and <br> Refund Policy</h2>
            </div>

            <div class="col-12">
                <h5 class="head-line">1. Cancellation policy:</h5>
                <p class="large-paragraph mb-0">
                    The request for the cancellation of an order will not be honored, and a refund will not be processed as per the “Refund Policy” mentioned on the Accu-Mart website.
                    Order Cancellation Policy
                </p>
                <p class="large-paragraph mt-1">
                    You are eligible for order cancellation only if the below-mentioned conditions are fulfilled:
                </p>
                <ul class="para-list">
                    <li>The order is cancelled within 12 hours, and the order has not been shipped.</li>
                    <li>The delivery is delayed by more than 21 days from the date of order placement. (Not applicable for made-to-order items, heavy equipment, devices, and furniture.)</li>
                    <li>The above cancellation policy does not apply to items that are specially customized for you. We may, however, consider your request for such a cancellation at our discretion.</li>
                </ul>
            </div>

            <div class="col-12">
                <h5 class="head-line">2. Return Policy:</h5>
                <ul class="para-list">
                    <li>Terms and Conditions For the return policy, the initiate request should be within 7 days after receiving the product(s).</li>
                    <li>Replacement would be offered against all return requests. In case the product is out of stock and cannot be replaced at the time of request, then a refund will be issued through the original mode of payment.</li>
                    <li>Sterile products will be applicable for return only in case of wrong product delivery.</li>
                </ul>

                <p class="large-paragraph">
                    Accu-Mart, at its discretion, can deny a request for replacement if it considers the request to not be genuine.
                </p>

                <ul class="para-list">
                    <li>Returned products are approved for refund/replacement once our QA/QC (quality assurance/quality control) team has checked and approved the returned product for below compliance:</li>
                    <li>It should be complete—no missing parts or accessories.</li>
                    <li>It should be unused.</li>
                    <li>It should be undamaged.</li>
                    <li>It should not have any custom engraving design, etc. done at the time of order placement.</li>
                </ul>

                <p class="large-paragraph">
                    You may raise a return or replacement request for any of the following reasons:
                </p>

                <ul class="para-list">
                    <li>
                        If the products are found to be damaged during delivery, the return will be initiated only if genuine evidence is submitted.
                    </li>
                    <li>
                        Product has manufacturing defect and is not working properly (in case of equipment/instrument).
                    </li>
                    <li>
                        Product has less than 3 months left from expiry date (in case of perishable products).
                    </li>
                    <li>
                        Some part or accessory of the product that should be included is missing.
                    </li>
                    <li>
                        Received wrong product.
                    </li>
                </ul>
            </div>

            <div class="col-12">
                <h5 class="head-line">Refund policy:</h5>
                <p class="large-paragraph mb-0">
                    1. A refund will be initiated on confirmation of cancellation by our team, and you will receive an email notification on the same.
                </p>
                <p class="large-paragraph">2. MODES OF REFUND: Your relationship manager will reach out to you to know your refund preference.</p>

                <ul class="para-list">
                    <li>A refund of the product will be processed within 48 hours of order cancellation.</li>
                    <li>Refund requests should be done within 7 days from the receipt of the material, and once refunds are initiated from our systems, they are usually realized within 3-4 working days but can take up to 21 working days to hit your accounts.</li>
                    <li>
                        Refunds will be initiated ONLY for the original mode of payment. In cases where refund is not possible to the original mode of payment, refund may be done to the buyer's banking account, wherein we will need to do verification (KYC) and proof of ownership of the account. The timeline of the verification can vary from 7 to 15 working days.
                    </li>
                </ul>

                <p class="large-paragraph">
                    You are required to raise your request on support@accuremedical.in with appropriate documentation/proof, including but not limited to the following:
                </p>

                <ul class="para-list">
                    <li>Photos or videos of the product showing the relevant issue or defect</li>
                    <li>
                        Photo of shipping label with order ID
                    </li>
                    <li>
                        Photo/soft copy of bill/invoice
                    </li>
                </ul>

                <p class="large-paragraph">
                    If any further clarification is needed, Accumart Executive will reach out to you before approving the return and refund request over email. AccuMart may not be able to provide a replacement in case of incomplete or inaccurate information provided by you. <br>
                    The operations team will initiate return collection within 3 working days of request approval.<br>
                    Additional Note:<br>
                    Items marked as "Non-Returnable" on the product detail page or items whose return window has expired cannot be returned. If such an item is indeed returned along with another returnable item, AccuMart will disallow a refund or return of the “non-returnable” product to you when partner licensed retail verifies the return items.
                </p>
            </div>
        </div>
    </div>
</section>
                        
   {% endblock %}