
{% extends "core/base.html" %}

{% load static %}

{% block content %}


            <section class="topSpace">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <h1 class="top-heading">
                                <span class="d-block greenText">Shipping</span>
                                <span class="d-block text-dark">Policy</span>
                            </h1>
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="ship-image">
                                <img src="{% static 'images/shipping.png'%}" class="header-image img-fluid" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class=" section-padding">
                <div class="container">

                    <div class="row">
                        

                        <div class="col-12">
                            <h5 class="head-line">International Orders:</h5>
                            <ul class="para-list">
                                <li>Shipped and delivered through registered international courier companies and/or International Speed Post. </li>
                            </ul>
                        </div>

                        <div class="col-12">
                            <h5 class="head-line">Domestic Orders:</h5>
                            <ul class="para-list">
                                <li>Shipped through registered domestic courier companies and/or Speed Post. </li>
                            </ul>
                        </div>

                        <div class="col-12">
                            <h5 class="head-line">Shipping Timeline:</h5>
                            <ul class="para-list">
                                <li>Orders are shipped within 8-14 days or as per the agreed delivery date at the time of order confirmation.</li>
                                <li>Delivery time is subject to the norms of the courier company or postal authorities. </li>
                            </ul>
                        </div>

                        <div class="col-12">
                            <h5 class="head-line">Company Liability:</h5>
                            <ul class="para-list">
                                <li><strong>ACCURE MEDICAL PRIVATE LIMITED</strong> is not responsible for delivery delays caused by courier companies or postal authorities.</li>
                                <li>The company guarantees to hand over consignments to the courier company or postal authorities within  8-14 days of order and payment or as per the agreed delivery date.</li>
                            </ul>
                        </div>

                        <div class="col-12">
                            <h5 class="head-line">Delivery Address:</h5>
                            <ul class="para-list">
                                <li>Orders will be delivered to the address provided by the buyer at the time of purchase. </li>
                            </ul>
                        </div>

                        <div class="col-12">
                            <h5 class="head-line">Service Confirmation:</h5>
                            <ul class="para-list">
                                <li>Delivery confirmation of services will be sent to the buyer's registered email ID.</li>
                            </ul>
                        </div>

                        <div class="col-12">
                            <h5 class="head-line">Customer Support:</h5>
                            <ul class="para-list">
                                <li>For issues or assistance with services, contact the helpdesk:</li>
                                <ul class="para-list">
                                    <li>Phone: 8448983842</li>
                                    <li>Email: ampl2207@gmail.com</li>
                                </ul>
                            </ul>
                        </div>
                    </div>

                </div>
            </section>

   {% endblock %}