
{% extends "core/base.html" %}

{% load static %}

{% block content %}

            <section class=" section-padding topSpace">
                <div class="container">

                    <div class="row">
                        
                        <div class="col-12">
                                <h2 class="page-innerhead">Terms & Conditions</h2>
                        </div>

                        <div class="col-12">
                            <h5 class="head-line">PRIVACY POLICY</h5>
                            <p class="large-paragraph">Accu-Mart respects your privacy and wants you to be familiar with how we collect, use, and disclose information.  This Privacy Policy describes our practices in connection with information that we or our service providers collect through the website (hereinafter the “Service”) operated and controlled by us from which you are accessing this Privacy Policy. We encourage you to read the full Privacy Policy before using this Service or providing any personal information.  By providing personal information to us or by using the Service, you acknowledge that you have read and understand this Privacy Policy.</p>
                        </div>

                        <div class="col-12">
                            <h5 class="head-line">USE BY MINORS</h5>
                            <p class="large-paragraph">The Service is not directed to individuals under the age of 18, and we request that these individuals not provide personal information through the Service. If your child has submitted Personal Information and you would like to request that such Personal Information be removed, please contact us as explained below under “Contacting Us”.</p>
                        </div>

                        <div class="col-12">
                            <h5 class="head-line">INFORMATION COLLECTION</h5>
                            <p class="large-paragraph mb-1">
                                We may ask you to submit personal information in order for you to benefit from certain features (such as newsletter subscriptions, tips/pointers, or order processing) or to participate in a particular activity (such as promotions). You will be informed what information is required and what information is optional.

                                We may combine the information and submit it with other information we have collected from you, whether online or offline, including, for example, your purchase history. We may also combine it with information we receive about you from other sources, such as our other website www.accuremedical.in publicly available information sources (including information from your publicly available social media profiles), and other third-party information providers.
                            </p>
                            <p class="large-paragraph">
                                If you submit any personal information relating to another individual to us, you represent that you have the authority to do so and to permit us to use the information in accordance with this Privacy Policy.
                            </p>
                        </div>

                        <div class="col-12">
                            <h5 class="head-line">SECURITY</h5>
                            <p class="large-paragraph">
                                We seek to use reasonable organizational, technical, and administrative measures designed to protect personal information under our control. However, no data transmission over the Internet or data storage system can be guaranteed to be 100% secure. If you have reason to believe that your interaction with us is no longer secure (for example, if you feel that the security of any account you have with us has been compromised), please immediately notify us in accordance with the “Contacting Us” section on website.
                            </p>
                        </div>

                        <div class="col-12">
                            <h5 class="head-line">THIRD PARTY SITES AND SERVICES</h5>
                            <p class="large-paragraph">
                                This Service may contain links to sites of third parties. This Privacy Policy does not address, and we are not responsible for the privacy, information, or practices of any third parties, including any third party operating any site or online service (including, without limitation, any application) that is available through this Service or to which this Service contains a link. The availability of, or inclusion of a link to, any such site or property on the Service does not imply endorsement of it by us or by our affiliates.
                            </p>
                        </div>

                        <div class="col-12">
                            <h5 class="head-line">UPDATES TO THIS PRIVACY POLICY</h5>
                            <p class="large-paragraph">
                                We may change this Privacy Policy. Any changes to this Privacy Policy will become effective when we post the revised Privacy Policy on the Service. Your use of the Service following these changes means that you accept the revised Privacy Policy. We recommend that you regularly review the Privacy Policy when you visit the Service

                            Personal Information Collection and Purposes of Use. We collect certain personal information through our Internet websites or other online service. This information includes one or more of the following elements of personally identifiable information: 
                            </p>
                            <ul class="para-list">
                                <li>A first and last name.</li>
                                <li>A home or other physical address that includes the name of a street and the name of a city or town.</li>
                                <li>An electronic mail address.</li>
                                <li>A telephone number.</li>
                                <li>A Social Security Number.</li>
                                <li>An identifier that allows a specific person to be contacted either physically or online.</li>
                            </ul>
                            <p class="large-paragraph">
                                Any other information concerning a person collected from the person through the Internet website or online service of the operator, and maintained by the operator in combination with an identifier in a form that makes the information personally identifiable.
                            </p>
                        </div>

                        

                    </div>

                </div>
            </section>

 {% endblock %}